html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $font-family;
    font-weight: 400;
    color: $blackish;
}

/*-------------------------------------*\
    Typography
\*-------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $font-color;
    font-weight: 700;
    margin: 0 0 10px;
}

/*-------------------------------------*\
    Links
\*-------------------------------------*/
a {
    color: $font-color;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;

    &:hover, &:focus {
        color: $red;
        text-decoration: none;
        outline: none;
    }
}

/*-------------------------------------*\
    Lists
\*-------------------------------------*/
ul, ol {
    margin: 0;
    padding: 0;
    list-style: 0;
}

/*-------------------------------------*\
    Section
\*-------------------------------------*/
.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-title {
    position: relative;
    margin-bottom: 30px;
    margin-top: 15px;

    .title {
        display: inline;
        text-transform: uppercase;
        margin: 0px;
    }

    .section-nav {
        float: right;

        .section-tab-nav {
            display: inline-block;

            li {
                display: inline-block;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0px;
                }

                a {
                    font-weight: 700;
                    color: #8d99ae;

                    &::after {
                        content: "";
                        display: block;
                        width: 0%;
                        height: 2px;
                        background-color: $primary;
                        -webkit-transition: 0.2s all;
                        transition: 0.2s all;
                    }

                    &:hover:after, &:focus:after {
                        width: 100%;
                    }
                }
            }

            li.active {
                a {
                    color: $primary;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        .products-slick-nav {
            top: 0px;
            right: 0px;
        }
    }
}